*
{
margin: 0;
}
.cont1
{
    width: 100%;
    height: 80px;
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}
.ttx
{
    display: flex;
    font-size: 20px;
    gap: 40px;
}
.btn1
{
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
}


.cont2{
    width: 100%;
    height: 700px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.box1
{
    width: 500px;
font-size: 20px;
margin-left: 100px;
margin-top: -200px;

}
.box1 h1{
    padding-top: 200px;
    font-size: 50px;
}
.box1 p
{
    width: 420px;
    font-size: 15px;
    color: rgb(136, 133, 133);
}
.btn2
{
    width: 120px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    
}

.boximg
{
    width: 600px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    margin-right: 150px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.b1{
    width: 150px;
    height: 500px;
    background-color: aqua;
    background-image: url(/meritt-thomas-u-Hb93V6IWI-unsplash\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.b2{
    width: 150px;
    height: 500px;
    background-color: aqua;
    margin-top: 50px;
    background-image: url(/meritt-thomas-u-Hb93V6IWI-unsplash\ 2.png);
background-repeat: no-repeat;
    background-size: cover;
}
.b3{
    width: 150px;
    height: 500px;
    background-color: aqua;
background-image: url(/meritt-thomas-u-Hb93V6IWI-unsplash\ 3.png);
background-repeat: no-repeat;
    background-size: cover;
}

.cont3
{
    width: 100%;
    height: 700px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}
.boximg2
{
    width: 380px;
    height: 600px;
    background-color: aqua;
    margin-right: 100px;
    background-image: url(/image\ 13.png);
background-repeat: no-repeat;
    background-size: cover;   
    margin-top: -30px; 
}

.ttx2
{
    width: 600px;
    margin-right: 200px;
    
}
.ttx2 h1
{
    
    font-size: 40px;

}

.btn3
{
    width: 120px;
    height: 20px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    
}

.cont4
{
    width: 100%;
    height: 450px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.text
{
    width: 600px;
}
.text h1
{
    font-size: 50px;

}

.text p
{
    font-size: 20px;
    color: rgb(163, 162, 162);
}
.boximg3
{
    width: 400px;
    height: 400px;
    background-color: brown;
    background-image: url(/image\ 21.png);
    background-repeat: no-repeat;
    background-size: cover;
}



.cont5
{
    width: 100%;
    height: 450px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.text
{
    width: 600px;
}
.text h1
{
    font-size: 50px;

}

.text p
{
    font-size: 20px;
    color: rgb(163, 162, 162);
}
.boximg4
{
    width: 400px;
    height: 400px;
    background-color: brown;
    background-image: url(/image\ 18.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cont6
{
    width: 100%;
 height: 250px;
    background-color: rgb(255, 255, 255);
    text-align: center;
   
}
.cont6 h1
{
    
    width: 550px;
    font-size: 40px;
    margin-left: 350px;
    padding: 25px;
    margin-top: 100px;
}
.cont6 p
{
    
    width: 550px;
    font-size: 20px;
    margin-left: 400px;
}
.btn6{
       width: 120px;
    height: 20px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
          margin-left: 580px;

}
.cont7
{
    width: 100%;
    height: 490px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    
}
.page1{
width: 385px;
height: 490px;
background-color: aqua;
background-image: url(/image\ 10.png);
 background-repeat: no-repeat;
    background-size: cover;
    
}
.page2{
width: 385px;
height: 490px;
background-color: aqua;
background-image: url(/image\ 11.png);
 background-repeat: no-repeat;
    background-size: cover;
}
.page3{
width: 385px;
height: 490px;
background-color: aqua;
background-image: url(/ian-keefe-OgcJIKRnRC8-unsplash\ 1.png);
 background-repeat: no-repeat;
    background-size: cover;
}
.cont8
{
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    gap: 30px;
   
}
.pex1
{
width: 385px;
height: 200px;
background-color: rgb(255, 255, 255);    
}
.pex2
{
width: 385px;
height: 200px;
background-color: rgb(255, 255, 255);    
}
.pex3
{
width: 385px;
height: 200px;
background-color: rgb(255, 255, 255);    
}
.pex1 h1
{
    font-size: 35px;
    padding: 15px;
}

.pex1 p
{
    font-size: 20px;
    padding: 10px;
    color: rgb(99, 100, 102);
}


.cont9
{
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    display: flex;
}
.boox1
{
    width: 400px;
    margin-left: 50px;
    padding: 30px;
}
.bt1{
   width: 100px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    margin-top: 10px;
}

.boox1 p
{
    color: rgb(124, 119, 119);
}

.cont10
{
    width: 600px;
    height: 360px;
    background-color: rgb(255, 255, 255);
margin-left: 70px;
}
.s1
{
    width: 600px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 1px 1px 2px rgb(218, 212, 212);
}
.s2
{
    width: 600px;
    height: 160px;
    background-color: rgb(255, 255, 255);
     display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
     box-shadow: 1px 1px 1px 2px rgb(218, 212, 212);
     
}
.s3
{
    width: 600px;
height: 80px;
background-color: rgb(255, 253, 253);    
 display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
     box-shadow: 1px 1px 1px 2px rgb(218, 212, 212);

}

.ss1
{
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
    border-radius: 40px;
}
.ss1 img

{
    width: 25px;
    height: 25px;
margin-left: 12px;
margin-top: 15px;

}

.ss2
{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 102, 64);
    border-radius: 40px;
    
}
.ss2 img

{
    width: 25px;
    height: 25px;
margin-left: 12px;
margin-top: 13px;


}


.s2 h1{
    font-size: 30px;
    margin-left: 10px;
}


.s2 p{
    width: 400px;
    font-size: 20px;
    margin-left: 10px;
    color: rgb(174, 175, 177);
}

.ss3
{
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
    border-radius: 40px;
}
.ss3 img

{
    width: 25px;
    height: 25px;
margin-left: 12px;
margin-top: 15px;

}
.s3 h1
{
    margin-left: -30px;
}



.cont11
{
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
 text-align: center ;    
}

.cont11{
    padding-top: 80px;
}
.immm{
    margin-top: 80px;
}

.cont11 p
{
    margin-top: 30px;
    margin-left: 370px;
    width: 600px;
    font-size: 20px;
    color: rgb(128, 131, 134);
}

.lo
{
 margin-top: 90px;   
}

.footer{
    width:100%;
    height:300px;
    background:#0d1b52;
    display:flex;
    justify-content:space-around;
    align-items:center;
    color:white;
}

.box1{
    width:250px;
}

.box1 h1{
    margin-bottom:20px;
}

.box1 p{
    color:#bdbdbd;
    line-height:25px;
}

.box2 p{
    color:#bdbdbd;
    line-height:35px;
}
.box3 p{
    color:#bdbdbd;
    line-height:35px;
}
.box4 p{
    color:#bdbdbd;
    line-height:35px;
}

.icons{
    margin-top:25px;
    display:flex;
    gap:20px;
}

.ic1{
    width:30px;
    height:30px;
}